SUPABASE_URL=https://qcqesdubyvqltsipplkp.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFjcWVzZHVieXZxbHRzaXBwbGtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTY5MDExMCwiZXhwIjoyMDg3MjY2MTEwfQ.HpqsOTP4yt2xbx4Lfqpuc1Btkhj5Xo1bvZlIoS-Q-Yw
SARVAM_API_KEY=sk_r59vf542_THkexFfgGPg12c2UMHs9JUjy
PORT=5000
